@mixin hero($sm, $md, $lg, $xl) {
    .hero {
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: var(--gap);

        @media (min-width: $md) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
        }

        &__image img {
            border-radius: var(--border-radius);
            width: 80%;
            margin-left: auto;
        }
    }
}
