@use "chants" as *;
@use "footer" as *;
@use "header" as *;
@use "hero" as *;
@use "nav" as *;

@mixin layout() {
    $sm: 600px;
    $md: 800px;
    $lg: 1000px;
    $xl: 1200px;

    :root {
        @media (min-width: $md) {
            --scale: 1.2;
        }
    }

    @media screen {
        .header, .nav, .page, .section, .index, .footer {
            width: 95%;
            margin-inline: auto;
            @media (min-width: $sm) { width: 400px; }
            @media (min-width: $md) { width: 600px; }
            @media (min-width: $lg) { width: 800px; }
            @media (min-width: $xl) { width: 1000px; }
        }
    }

    @include header();
    @include nav();
    @include hero($sm, $md, $lg, $xl);
    @include chants();
    @include footer($sm, $md, $lg, $xl);

    .pagination {
        display: flex;
        flex-direction: column;
        gap: var(--gap);

        &__pages {
            display: flex;
            flex-direction: column;

            gap: var(--gap);
            @media (min-width: $lg) {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
            }
        }

        &__nav {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__pagers {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: var(--gap);
            }
        }
    }

    .preview {
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__call-to-action {
            text-align: center;
        }
    }

    .song {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: var(--gap);

        &__lyrics {
            flex-basis: 70%;
        }

        &__links {
            display: flex;
            gap: var(--gap);
            justify-content: space-between;
            width: 100%;

            @media (min-width: $lg) {
                width: initial;
                flex-direction: column;
                justify-content: start;
            }
        }

        &__play {
            flex-basis: 100%;

            &__tracks {
                display: flex;
                flex-direction: column;
                gap: var(--gap);

                &__track {
                    audio, input {
                        width: 100%;
                    }
                }
            }
        }
    }

    .footnote {
        &-reference {
            display: inline-block;
        }

        &-definition {
            display: flex;
            gap: 1ch;
        }
    }

    .taxonomies {
        &__list {
            &__item {
                &__list {
                    display: inline-block;

                    & > * + *::before {
                        content: ", ";
                    }

                    &__item:last-child::after {
                        content: ".";
                    }
                }
            }
        }
    }
}
