@mixin nav() {
    .nav {
        font-size: var(--size3);

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;
        gap: var(--gap);

        &__item {
            &:last-child a {
                text-decoration: none;
            }
        }
    }
}
