@mixin utilities() {
    .flow > * + * {
        padding-block-start: var(--flow, 1em);
    }

    h1, h2, h3, h4, h5, h6, article, section {
        @extend .flow;
    }

    .border {
        border-radius: var(--border-radius);
        border: var(--border-width) var(--border-style) var(--border-color);
        padding: var(--padding);
    }

    .youtube {
        text-align: center;
    }
}
