@mixin chants() {
    .repetitions {
        &__years {
            display: grid;
            justify-items: center;
            grid-auto-flow: column;
            grid-auto-columns: 1fr;
        }
    }
}
