{# vim: set filetype=html: #}

{% macro downloads(page, extensions, title) %}

{% set files = [] %}
{% for asset in page.assets %}
{% for extension in extensions %}
{% if asset is ending_with(extension) %}
{% set_global files = files | concat(with = asset) %}
{% endif %}
{% endfor %}
{% endfor %}

{% if files | length %}
<div class="downloads {% for extension in extensions %}downloads--{{ extension }} {% endfor %}">
    <h3>{{ title | safe }}{{ files | length | pluralize() }}</h3>

    <ul>
        {% for file in files %}
        <li>
            {% set file = file | split(pat="/") | last %}
            <a href="{{ get_url(path = page.path ~ file) | safe }}"
                download="{{ config.title | slugify }}_{{ page.title | slugify }}_{{ file | slugify }}">
                {{ file | split(pat=".") | first | capitalize }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% endmacro downloads %}
