{# vim: set filetype=html: #}

{% macro emojicon(emoji) %}
<link rel="icon"
    href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>{{- emoji -}}</text></svg>">
{% endmacro emojicon %}

{% macro favicon(path, size=32, op="fit", quality=100) %}
{% set data = get_image_metadata(path = path) %}
{% if data.format is matching("jpg|png") %}
{% set href = resize_image(path = path, width = size, height = size, op = op, quality=quality) | get(key="url") %}
{% else %}
{% set href = get_url(path = path) %}
{% endif %}
<link rel="icon" type="image/x-icon" href="{{ href | safe }}">
{% endmacro %}

{% macro title(title) %}
{% set lhs = config.title | markdown(inline = true) | striptags | safe %}
{% set rhs = title | markdown(inline = true) | striptags | safe %}
<title>{{ lhs }} | {{ rhs }}</title>
{% endmacro title %}

{% macro description(description) %}
<meta name="description" content="{{ description | markdown(inline = true) | striptags | safe }}" />
{% endmacro description %}

{% macro opengraph(context) %}
<meta property="og:type" content="website" />

{% set lhs = config.title | markdown(inline = true) | striptags | safe %}
{% set rhs = context.extra.opengraph.title | default(value = context.title) | markdown(inline = true) | striptags | safe
%}
<meta property="og:title" content="{{ lhs }} | {{ rhs }}">

<meta property="og:description"
    content="{{ context.extra.opengraph.description | default(value = context.description | default(value = config.description)) | markdown(inline = true) | striptags | safe }}">

<meta property="og:url" content="{{ context.permalink | safe }}">

{% set image = resize_image(
path = context.extra.opengraph.thumbnail | default(value = config.extra.opengraph),
width = 200,
height = 200,
op = "fit",
quality = 100
) %}
<meta property="og:image" content="{{ image.url | safe }}">
<meta property="og:image:width" content="{{ image.width }}" />
<meta property="og:image:height" content="{{ image.height }}" />
{% endmacro %}

{% macro styles() %}
<noscript>
    <style>
        .noscript {
            display: none;
        }
    </style>
</noscript>
<link href="{{ get_url(path='/index.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ get_url(path='/hsl.css') }}" type="text/css" rel="stylesheet" />
{% endmacro %}
