{# vim: set filetype=html: #}

{% macro hero() %}
<section class="hero">
    <div class="hero__content">
        <h1 class="hero__content__title">{{ section.extra.hero.title | markdown(inline = true) | safe }}</h1>
        <div class="hero__content__description">
            {{ section.extra.hero.description | markdown() | safe }}
        </div>
    </div>
    <div class="hero__image">
        <img src="{{ get_url(path = config.extra.hero) | safe }}"
            alt="{{ config.title | markdown(inline = true) | striptags | safe }}" />
    </div>
</section>

{% endmacro hero %}
