{# vim: set filetype=html: #}

{% macro preview(page) %}
<section class="preview flow">
    <h3>
        <a href="{{ page.permalink | safe }}">
            {{ page.title | markdown(inline = true) | safe }}
        </a>
    </h3>

    <aside class="preview__infos">
        <ul>
            {{ self::files(assets = page.assets, extensions = config.extra.songs, title = "musique") }}
            {{ self::files(assets = page.assets, extensions = config.extra.documents, title = "document") }}
        </ul>
    </aside>

    <div class="preview__call-to-action">
        <a href="{{ page.permalink | safe }}">
            Voir plus
        </a>
    </div>
</section>
{% endmacro preview %}

{% macro files(assets, extensions, title) %}

{% set files = [] %}
{% for asset in assets %}
{% for extension in extensions %}
{% if asset is ending_with(extension) %}
{% set_global files = files | concat(with = asset) %}
{% endif %}
{% endfor %}
{% endfor %}

{% if files | length %}
<li>{{ files | length }}&nbsp;{{ title | capitalize }}{{ files | length | pluralize() }}</li>
{% endif %}

{% endmacro files %}
