{# vim: set filetype=html: #}

{% macro themes() %}
<section class="themes flow">
    <h2>Thèmes</h2>
    <strong id="theme"></strong>

    <div class="themes__content">
        <button id="themeLight">☀️ Clair ☀️</button>
        <button id="themeReset">☀️ Défaut 🌙</button>
        <button id="themeDark">🌙 Sombre 🌙</button>
    </div>
</section>
{% endmacro themes %}
