{# vim: set filetype=html: #}

{% macro youtube(id, class=false, playlist=false, autoplay=false) %}
<div class="youtube {% if class %}{{ class }}{% endif %}">
    <iframe width="560" height="315"
        src="https://www.youtube-nocookie.com/embed/{{id}}{% if playlist %}?list={{playlist}}{% endif %}{% if autoplay %}?autoplay=1{% endif %}"
        webkitallowfullscreen mozallowfullscreen allowfullscreen>
    </iframe>
</div>
{% endmacro youtube %}
