{# vim: set filetype=html: #}

{% macro zoom() %}
<section class="zoom flow">
    <h2>Zoom</h2>

    <strong id="zoom"></strong>

    <div class="zoom__content">
        <button id="zoomLess">➖ Moins ➖</button>
        <button id="zoomReset" onclick="zoomReset">🟰 Défaut 🟰</button>
        <button id="zoomMore" onclick="zoomMore">➕ Plus ➕</button>
    </div>
</section>
{% endmacro zoom %}
