:root[data-theme="light"] {
    --primary: hsl(228 30% 90%);
    --primary-alt: hsl(228 40% 80%);
    --secondary: hsl(48 60% 16%);
    --secondary-alt: hsl(48 10% 22%);
    --tertiary: hsl(228 65% 39%);
}

:root[data-theme="dark"] {
    --primary: hsl(228 30% 21%);
    --primary-alt: hsl(228 50% 15%);
    --secondary: hsl(198 5% 88%);
    --secondary-alt: hsl(198 10% 90%);
    --tertiary: hsl(258 24% 90%);
}

@mixin themes() {
    :root {
        background-color: var(--primary);
        color: var(--secondary);
        accent-color: var(--tertiary);

        --border-color: var(--primary-alt);
    }

    header, nav, footer {
        background-color: var(--primary-alt);
        color: var(--secondary-alt);
    }

    a { color: var(--tertiary); }
}
