{# vim: set filetype=html: #}

{% import "macros/head.html" as head %}

<!DOCTYPE HTML>

<html lang="{{ lang }}">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% block favicon %}
    {{ head::emojicon(emoji = "🎶") }}
    {% endblock favicon %}

    {% block title %}
    {{ head::title(title = config.title) }}
    {% endblock title %}

    {% block description %}
    {{ head::description(description = config.description) }}
    {% endblock description %}

    {% block meta %}
    {% endblock meta %}

    <script src="{{ get_url(path = '/scripts/index.js') | safe }}"></script>
    <link href="{{ get_url(path='/index.css') }}" type="text/css" rel="stylesheet" />

    {% block styles %}
    {% endblock styles %}
</head>

<body>
    <header>
        {% block header %}
        {% include "header.html" ignore missing %}
        {% endblock header %}
    </header>

    <nav>
        {% block nav %}
        {% include "nav.html" ignore missing %}
        {% endblock nav %}
    </nav>

    <main>
        {% block main %}
        {% endblock main %}
    </main>

    <footer>
        {% block footer %}
        {% include "footer.html" ignore missing %}
        {% endblock footer %}
    </footer>
</body>

{% block scripts %}
{% endblock scripts %}

</html>
