{# vim: set filetype=html: #}

{% extends "page.html" %}

{% import "macros/downloads.html" as downloads %}

{% block description %}
{% endblock description %}

{% block content %}

<article class="song">
    <section class="song__lyrics">
        <h2>Paroles</h2>
        {{ super() }}

        {% if page.description %}
        <aside class="song__lyrics__description flow">
            <h4>À propos</h4>
            {{ page.description | markdown() | safe }}
        </aside>
        {% endif %}
    </section>

    <aside class="song__links">
        {{ downloads::downloads(page = page, extensions = config.extra.songs, title = "Musique") }}
        {{ downloads::downloads(page = page, extensions = config.extra.documents, title = "Document") }}
    </aside>

    <section class="song__play">
        <h3>Entrainement</h3>

        {% set files = [] %}
        {% for asset in page.assets %}
        {% for extension in config.extra.songs %}
        {% if asset is ending_with(extension) %}
        {% set_global files = files | concat(with = asset) %}
        {% endif %}
        {% endfor %}
        {% endfor %}

        <ul role="list" class="song__play__tracks ">
            {% for file in files %}
            <li class="song__play__tracks__track ">
                {% set file = file | split(pat="/") | last %}
                {% set path = page.path ~ file %}
                {% set id = file | split(pat=".") | first %}
                <h4>{{ id | capitalize }}</h4>
                <audio controls id="{{ id }}">
                    <source src="{{ get_url(path = path) | safe }}" />
                </audio>

                <div class="song__play__tracks__track__speed">
                    {% set value = 1 %}
                    {% set min = 0 %}
                    {% set max = 3 %}
                    {% set step = 0.01 %}

                    <input type="range" value="{{ value }}" min="{{ min }}" max="{{ max }}" step="{{ step }}"
                        id="{{ id }}--speed" />
                    Vitesse de lecture: <output id="{{ id }}--output">{{ value }}</output>.
                    Double-clic pour réinitialiser.

                    <script>
                        var node = document.getElementById("{{ id }}--speed");

                        node.addEventListener("dblclick", (speed) => {
                            speed.target.value = 1;
                            document.getElementById("{{ id }}").playbackRate = speed.target.value;
                            document.getElementById("{{ id }}--output").value = speed.target.value;
                        });

                        node.addEventListener("input", (speed) => {
                            document.getElementById("{{ id }}").playbackRate = speed.target.value;
                            document.getElementById("{{ id }}--output").value = speed.target.value;
                        });
                    </script>

                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
</article>
{% endblock content %}
