{# vim: set filetype=html: #}

<div class="footer">
    <div class="footer__item">
        Fait avec&nbsp<a href="https://www.getzola.org" target="_blank">Zola</a>
    </div>
    <div class="footer__item">
        Par&nbsp<a href="https://pcoves.gitlab.io" target="_blank">P. COVES</a>
    </div>
    {#
    <div class="footer__item">
        Pour sa maman ❤️
    </div>
    #}
</div>
