<div class="header">
    <a class="header__brand" href="{{ get_url(path = '@/_index.md') | safe }}" style="text-decoration: none;">
        <img class="header__brand__image" src="{{ get_url(path = config.extra.brand) | safe }}"
            alt="{{ config.title | markdown(inline = true) | striptags | safe }}" />
    </a>

    <div class="header__content">
        <div class="header__content__title">
            {{ config.title | markdown(inline = true) | safe }}
        </div>
        <div class="header__content__description">
            {{ config.description | markdown(inline = true) | safe }}
        </div>
    </div>
</div>
