<div class="nav">
    {% set root = get_section(path = "_index.md") %}
    {% set chants = get_section(path = "chants/_index.md") %}
    <div class="nav__item">
        <a href="{{ root.permalink }}">
            {{ root.title | markdown(inline = true) | safe }}
        </a>
    </div>

    {% for subsection in chants.subsections %}
    {% set subsection = get_section(path=subsection, metadata_only=true) %}
    <div class="nav__item">
        <a href="{{ subsection.permalink | safe }}">
            {{- subsection.title | safe -}}
        </a>
    </div>
    {% endfor %}

    {% for subsection in root.subsections %}
    {% set subsection = get_section(path=subsection, metadata_only=true) %}
    {% if subsection.render %}
    <div class="nav__item">
        <a href="{{ subsection.permalink | safe }}">
            {{- subsection.title | safe -}}
        </a>
    </div>
    {% endif %}
    {% endfor %}

    {% for subpage in root.pages %}
    <div class="nav__item">
        <a href="{{ subpage.permalink | safe }}">
            {{- subpage.title | safe -}}
        </a>
    </div>
    {% endfor %}
</div>
