{# vim: set filetype=html: #}

{% extends "base.html" %}

{% block title %}
{{ head::title(title = page.title) }}
{% endblock title %}

{% block description %}
{{ head::description(description = page.description) }}
{% endblock description %}

{% block meta %}
{{ head::opengraph(context = page) }}
{% endblock meta %}

{% block main %}
<article class="page flow">
    {% block page__header %}
    <header class="page__header">
        <h1>{{ page.title | markdown(inline = true) | safe }}</h1>
    </header>

    {% if page.taxonomies %}
    <aside class="taxonomies">
        <ul role="list" class="taxonomies__list">
            {% set keys = [] %}
            {% for key, _ in page.taxonomies %}
            {% set_global keys = keys | concat(with = key) %}
            {% endfor %}

            {% for key in keys | sort() %}
            <li class="taxonomies__list__item">
                {{ key | capitalize }}&nbsp;:
                <ul role="list" class="taxonomies__list__item__list">
                    {% for value in page.taxonomies[key] %}
                    <li class="taxonomies__list__item__list__item">
                        {{- value -}}
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </aside>
    {% endif %}
    {% endblock page__header %}

    {% block content %}
    <section class="content content--page flow">
        {{ page.content | safe }}
    </section>
    {% endblock content %}
</article>
{% endblock main %}
