{# vim: set filetype=html: #}

{% extends "base.html" %}

{% import "macros/preview.html" as preview %}

{% block title %}
{{ head::title(title = section.title) }}
{% endblock title %}

{% block description %}
{{ head::description(description = section.description) }}
{% endblock description %}

{% block meta %}
{{ head::opengraph(context = section) }}
{% endblock meta %}

{% block main %}
<article class="section">
    {% block page__header %}
    <header class="section__header">
        <h1>{{ section.title | markdown(inline = true) | safe }}</h1>
    </header>
    {% endblock section__header %}

    {% block sessions %}
    {% if section.extra.sessions %}
    <section class="repetitions">
        <h2>Répétitions</h2>
        <div class="repetitions__years">
            {% for year, sessions in section.extra.sessions %}
            <div class="repetitions__years__year repetitions__years__year--{{ year }}">
                <h3>{{ year }}</h3>
                <ul>
                    {% for session in sessions %}
                    <li>
                        {{ session }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </section>
    {% endif %}
    {% endblock sessions %}

    {% block content %}
    {% if section.content %}
    <section class="content content--section flow">
        {{ section.content | safe }}
    </section>
    {% endif %}
    {% endblock content %}

    {% block pagination %}
    <section class="pagination">
        <ul role="list" class="pagination__pages">
            {% for page in paginator.pages %}
            <li class="pagination__pages__page border">
                {{ preview::preview(page = page) }}
            </li>
            {% endfor %}
        </ul>

        {% if paginator.number_pagers - 1 %}
        <nav class="pagination__nav">
            <span class="pagination__nav__first">
                {% if paginator.previous %}
                <a href="{{ paginator.first | safe }}">
                    Début
                </a>
                {% endif %}
            </span>

            <span class="pagination__nav__previous">
                {% if paginator.previous %}
                <a href="{{ paginator.previous | safe }}">
                    Précédent
                </a>
                {% endif %}
            </span>

            <ul role="list" class="pagination__nav__pagers">
                {% for pager in range(end = paginator.number_pagers) %}
                <li class="pagination__nav__pagers__pager">
                    {% if loop.first %}
                    <a href="{{ paginator.first | safe }}">
                        {{ pager + 1 }}
                    </a>
                    {% else %}
                    <a href="{{ paginator.base_url | safe }}{{ pager + 1 }}">
                        {{ pager + 1 }}
                    </a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>

            <span class="pagination__nav__previous">
                {% if paginator.next %}
                <a href="{{ paginator.next | safe }}">
                    Suivant
                </a>
                {% endif %}
            </span>

            <span class="pagination__nav__first">
                {% if paginator.next %}
                <a href="{{ paginator.last | safe }}">
                    Fin
                </a>
                {% endif %}
            </span>
        </nav>
        {% endif %}
    </section>
    {% endblock pagination %}
</article>
{% endblock main %}
