{# vim: set filetype=html: #}

{% extends "page.html" %}

{% import "macros/zoom.html" as zoom %}
{% import "macros/themes.html" as themes %}

{% block page__header %}
<header class="page__header">
    <h1>{{ page.title ~ "&nbsp;" ~ page.description | markdown(inline = true) | safe }}</h1>
</header>
{% endblock page__header %}

{% block content %}
{{ zoom::zoom() }}
{{ themes::themes() }}
{% endblock content %}

{% block scripts %}
<script src="{{ get_url(path = '/scripts/themes.js') | safe }}"></script>
<script src="{{ get_url(path = '/scripts/zoom.js') | safe }}"></script>
{% endblock scripts %}
